<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- Produkt-Definition -->
  <Product Id="*"
      Name="!(loc.ProductName)"
      Language="1033"
      Version="$(var.Version)"
      Manufacturer="Slesa Solutions"
      UpgradeCode="9a42c8d0-78fc-41c6-8c52-9ea69abf0b11">

    <!-- Package-Definition -->
    <Package InstallerVersion="301"
             Compressed="yes"
             Description="!(loc.Description)"
             Comments="(c) 2013 J. Preiss"
             InstallScope="perMachine"
             Platform="x64" 
             InstallPrivileges="elevated" />
    
    <!-- Requirements -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="!(loc.ErrorFramework)">NETFRAMEWORK45</Condition>
    <Condition Message="!(loc.ErrorAdminRights)">Privileged</Condition>


    <!-- Icons -->
    <Icon Id="I__IniConfigIcon" SourceFile="..\IniConfig.Setup.lib\Resources\IniConfig.png" />
    <Property Id="ARPPRODUCTICON" Value="I__XamlBoardIcon"/>


    <!-- Media -->
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />


    <!-- Directory-Struktur -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- program files directories -->
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="SlesaSolutionsFolder" Name="Slesa Solutions">
          <Directory Id="APPLICATIONFOLDER" Name="IniConfig">
            <Directory Id="deDEFolder" Name="de-DE" />
            <!--<Directory Id="SamplesFolder" Name="Samples" />-->
          </Directory>
        </Directory>
      </Directory>
      <!-- local program data directories
      <Directory Id="LocalAppDataFolder" Name="LocalAppDataFolder">
        <Directory Id="VendorDataFolder" Name="Centigrade">
          <Directory Id="ProductDataFolder" Name="XamlBoard" />
        </Directory>
      </Directory>-->
      <!-- roaming program data directories
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <Directory Id="VendorRoamingFolder" Name="Centigrade">
          <Directory Id="ProductRoamingFolder" Name="XamlBoard" />
        </Directory>
      </Directory>-->
      <!-- font directories -->
      <Directory Id="FontsFolder"/> 
      <!-- shortcut directories -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuVendorFolder" Name="Slesa Solutions">
          <Directory Id="ProgramMenuProductFolder" Name="IniConfig">
            <!--<Directory Id="ProgramMenuProductSubFolder" Name="MySubFolder" />-->
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    

    <!-- Komponenten-Struktur -->

    <DirectoryRef Id="APPLICATIONFOLDER">
      
      <Component Id="C__IniConfig_Console" Guid="{CD090518-7605-44B5-A292-BD13F8E13570}" Win64="yes">
        <File Id="INICONFIG.CONSOLE.EXE" Name="IniConfig.Console.exe" Source="$(var.FileSource)\IniConfig.Console.exe" KeyPath="yes" />
        <File Id="INICONFIG.CONSOLE.EXE.CONFIG" Name="IniConfig.Console.exe.config" Source="$(var.FileSource)\IniConfig.Console.exe.config" />
      </Component>
      <Component Id="C__IniConfig_Console_Lib" Guid="{9F3F4949-6B8B-48EA-AF90-FFE9ECE90B5A}" Win64="yes">
        <File Id="INICONFIG.CONSOLE.LIB.DLL" Name="IniConfig.Console.lib.dll" Source="$(var.FileSource)\IniConfig.Console.lib.dll" KeyPath="yes" />
        <File Id="INICONFIG.CONSOLE.LIB.RESOURCES_DLL" Name="IniConfig.Console.lib.resources.dll" Source="$(var.FileSource)\de-DE\IniConfig.Console.lib.resources.dll" />
      </Component>
      
      <Component Id="C__IniConfig_Editor" Guid="{8C77DD64-E323-4810-B25C-78CCE0E7BD70}" Win64="yes">
        <File Id="INICONFIG.EDITOR.EXE" Name="IniConfig.Editor.exe" Source="$(var.FileSource)\IniConfig.Editor.exe" KeyPath="yes" />
        <File Id="INICONFIG.EDITOR.EXE.CONFIG" Name="IniConfig.Editor.exe.config" Source="$(var.FileSource)\IniConfig.Editor.exe.config" />
      </Component>
      <Component Id="C__IniConfig_Editor_Lib" Guid="{9E01C60A-77BC-4174-B927-AA03026F7553}" Win64="yes">
        <File Id="INICONFIG.EDITOR.LIB.DLL" Name="IniConfig.Editor.lib.dll" Source="$(var.FileSource)\IniConfig.Editor.lib.dll" KeyPath="yes" />
        <File Id="INICONFIG.EDITOR.LIB.RESOURCES_DLL" Name="IniConfig.Editor.lib.resources.dll" Source="$(var.FileSource)\de-DE\IniConfig.Editor.lib.resources.dll" />
      </Component>
      <Component Id="C__IniConfig_Editor_Theme" Guid="{DB8D70F8-1699-432D-B464-2FEC800C1098}" Win64="yes">
        <File Id="INICONFIG.EDITOR.THEME.DLL" Name="IniConfig.Editor.Theme.dll" Source="$(var.FileSource)\IniConfig.Editor.Theme.dll" KeyPath="yes" />
      </Component>
      
      <Component Id="C__IniConfig_Lib" Guid="{2F58CD26-813A-4BBA-A58C-21E025C53A5E}" Win64="yes">
        <File Id="INICONFIG.LIB.DLL" Name="IniConfig.lib.dll" Source="$(var.FileSource)\IniConfig.lib.dll" KeyPath="yes" />
      </Component>
      
      <Component Id="C__Microsoft_Expression_Interactions" Guid="{B00AAE98-657A-46D8-A9E1-19689BEDA4F4}" Win64="yes">
        <File Id="MICROSOFT.EXPRESSION.INTERACTIONS.DLL" Name="Microsoft.Expression.Interactions.dll" Source="$(var.FileSource)\Microsoft.Expression.Interactions.dll" KeyPath="yes" />
      </Component>
      <Component Id="C__Prism" Guid="{9F14E904-320E-48DC-B0D1-303F1423487C}" Win64="yes">
        <File Id="MICROSOFT.PRACTICES.PRISM.DLL" Name="Microsoft.Practices.Prism.dll" Source="$(var.FileSource)\Microsoft.Practices.Prism.dll" KeyPath="yes" />
      </Component>
      <Component Id="C__PrismInteractivity" Guid="{5B1DF2F8-1076-47DA-9A95-B8038FB03C1E}" Win64="yes">
        <File Id="MICROSOFT.PRACTICES.PRISM.INTERACTIVITY.DLL" Name="Microsoft.Practices.Prism.Interactivity.dll" Source="$(var.FileSource)\Microsoft.Practices.Prism.Interactivity.dll" KeyPath="yes" />
      </Component>
      <Component Id="C__PrismUnityExtensions" Guid="{52B12C4E-077D-44EF-9FEE-1D1705C4719C}" Win64="yes">
        <File Id="MICROSOFT.PRACTICES.PRISM.UNITYEXTENSIONS.DLL" Name="Microsoft.Practices.Prism.UnityExtensions.dll" Source="$(var.FileSource)\Microsoft.Practices.Prism.UnityExtensions.dll" KeyPath="yes" />
      </Component>
      <Component Id="C__ServiceLocation" Guid="{4F530662-CEA8-4DD2-954B-8FC112672E36}" Win64="yes">
        <File Id="MICROSOFT.PRACTICES.SERVICELOCATION.DLL" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.FileSource)\Microsoft.Practices.ServiceLocation.dll" KeyPath="yes" />
      </Component>
      <Component Id="C__Unity" Guid="{42C77B78-A2A5-4CC6-9D7D-E103FB2D01E0}" Win64="yes">
        <File Id="MICROSOFT.PRACTICES.UNITY.DLL" Name="Microsoft.Practices.Unity.dll" Source="$(var.FileSource)\Microsoft.Practices.Unity.dll" KeyPath="yes" />
      </Component>
      <Component Id="C__Unity_Configuration" Guid="{9F120C93-4905-4914-A7D6-5F846777DCE5}" Win64="yes">
        <File Id="MICROSOFT.PRACTICES.UNITY.CONFIGURATION.DLL" Name="Microsoft.Practices.Unity.Configuration.dll" Source="$(var.FileSource)\Microsoft.Practices.Unity.Configuration.dll" KeyPath="yes" />
      </Component>
      <Component Id="C__System_Windows_Interactivity" Guid="{B8AB16B0-8F5F-4577-AE47-4079DF35A1A6}" Win64="yes">
        <File Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" Name="System.Windows.Interactivity.dll" Source="$(var.FileSource)\System.Windows.Interactivity.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="S__ProgramMenuComponent" Guid="{5123F8BA-0369-4A6E-971B-10B515BF88BA}" Win64="yes">

        <!-- create folders -->
        <CreateFolder Directory="ProgramMenuVendorFolder" />
        <CreateFolder Directory="ProgramMenuProductFolder" />
        <!--<CreateFolder Directory="ProgramMenuSubFolder" />-->

        <!-- remove folder -->
        <RemoveFolder Id="RemoveProgramMenuVendorFolder" Directory="ProgramMenuVendorFolder" On="uninstall" />
        <RemoveFolder Id="RemoveProgramMenuProductFolder" Directory="ProgramMenuProductFolder" On="uninstall" />
        <!--<RemoveFolder Id="RemoveProgramMenuProductSubFolder" Directory="ProgramMenuProductSubFolder" On="uninstall" />-->

        <!-- main shortcut -->
        <Shortcut Id="IniConfigEditorShortcut"
                  Directory="ProgramMenuProductFolder"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Name="INI Configuration Editor"
                  Icon="I__IniConfigIcon"
                  Description="!(loc.IniConfigEditorDescription)"
                  Target="[APPLICATIONFOLDER]IniConfig.Editor.EXE"/>

        <!-- registry keys -->
        <RegistryValue Root="HKCU" Key="Software\SlesaSolutions\IniConfig" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        
      </Component>
    </DirectoryRef>
    
    
    <DirectoryRef Id="FontsFolder">
      <Component Id="C__Fonts" Guid="{9A763FB2-D38E-4C0A-9E10-815C0CBC1B22}" Permanent="yes">
        <File Id="SegoeWP.TTF" Source="..\..\res\Fonts\SegoeWP.ttf" TrueType="yes" />
        <File Id="SegoeWP_Bold.TTF" Source="..\..\res\Fonts\SegoeWP-Bold.ttf" TrueType="yes" />
        <File Id="SegoeWP_Semibold.TTF" Source="..\..\res\Fonts\SegoeWP-Semibold.ttf" TrueType="yes" />
        <File Id="SegoeWP_Light.TTF" Source="..\..\res\Fonts\SegoeWP-Light.ttf" TrueType="yes" />
        <File Id="SegoeWP_Semilight.TTF" Source="..\..\res\Fonts\SegoeWP-Semilight.ttf" TrueType="yes" />
      </Component>
    </DirectoryRef>

    
    
    
    <!-- Feature-Struktur -->
    <Feature Id="SharedFiles" Level="1"
             InstallDefault="local"
             Absent="disallow"
             AllowAdvertise="no"
             TypicalDefault="install"
             Title="!(loc.ProductFeatureTitle)"
             ConfigurableDirectory="APPLICATIONFOLDER"
             Description="!(loc.ProductFeatureDescription)">
      
      <ComponentRef Id="S__ProgramMenuComponent" />
      <ComponentRef Id="C__Fonts" />
    
      <ComponentRef Id="C__IniConfig_Console" />
      <ComponentRef Id="C__IniConfig_Console_Lib" />
    
      <ComponentRef Id="C__IniConfig_Editor" />
      <ComponentRef Id="C__IniConfig_Editor_Lib" />
      <ComponentRef Id="C__IniConfig_Editor_Theme" />
      
      <ComponentRef Id="C__IniConfig_Lib" />
      
      <ComponentRef Id="C__Microsoft_Expression_Interactions" />
      <ComponentRef Id="C__Prism" />
      <ComponentRef Id="C__PrismInteractivity" />
      <ComponentRef Id="C__PrismUnityExtensions" />
      <ComponentRef Id="C__ServiceLocation" />
      <ComponentRef Id="C__Unity" />
      <ComponentRef Id="C__Unity_Configuration" />
      <ComponentRef Id="C__System_Windows_Interactivity" />
    </Feature>
    
    
    
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />

    <UIRef Id="WixUI_ErrorProgressText" />
    <UIRef Id="WixUI_IniConfig" />

    <!--<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />-->
    <WixVariable Id="WixUIBannerBmp" Value="..\IniConfig.Setup.lib\Resources\WixUI_Banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="..\IniConfig.Setup.lib\Resources\WixUI_Bitmap.jpg" />
      
    
    </Product>

</Wix>